.menu a{
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(175, 175, 175);
    background-color: rgba(4, 3, 44, 0.801);
    cursor: pointer;
    margin: 20px;
    padding: 20px;
}